@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
	/* Colors */
	--col-text: #181818;
	--col-link-text: #efefef;
	--col-button-bg: #efefef;

	--col-link-bg-1: #6045fa;
	--col-link-bg-2: #8c00ff;
	/* --col-link-bg-2: #0e3eff; */

	--col-bg-inner: #ffff00;
	--col-bg-outer: #ffea00;

	/* Fonts */
	--font-text: "Poppins", sans-serif;
	--font-heading: "Lobster", serif;
	/* --font-heading: "Abril Fatface", serif; */

	/* Values */
	--val-form-max-width: 350px;
	--val-navbar-height: max(5vw, 3rem);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}



/* ===== Body ===== */
body {
	color: var(--col-text);
	font-family: var(--font-text);
	background: var(--col-bg-outer);

	/* padding: 1.5rem; */
	width: 100%;
	min-height: 100vh;
}

div,
form {
	animation: fade 0.5s ease-out;
}

body::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;

	background: radial-gradient(var(--col-bg-inner), var(--col-bg-outer));
	background-attachment: fixed;
	-webkit-mask-image: url("Assets/Background\ pattern.svg");
	mask-image: url("Assets/Background\ pattern.svg");
	-webkit-mask-repeat: repeat;
	mask-repeat: repeat;
	-webkit-mask-attachment: fixed;


	animation: bg-pattern 7s linear 0s infinite;
}

@keyframes fade {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes bg-pattern {
	0% {
		/* mask-position: 0% 0%; */
		mask-position: 0px 0px;
	}

	100% {
		mask-position: 100px 100px;
	}
}



/* For menus */
.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;

	/* width: fit-content; */
	min-height: calc(95vh - var(--val-navbar-height));
}





/* ===== Links ===== */
a {
	color: var(--col-link-bg-2);
}

.link-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.button {
	color: var(--col-link-text);
	font-size: 2.5rem;
	font-weight: 700;
	text-decoration: none;
	font-family: var(--font-text);

	width: 100%;
	text-align: center;

	padding: 1rem 1.5rem;
	border-radius: 16px;
	background: linear-gradient(45deg, var(--col-link-bg-1), var(--col-link-bg-2));
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 50%);
	-webkit-tap-highlight-color: transparent;

	transition: all 0.2s;
	touch-action: manipulation;
}

.button:hover {
	transform: translateY(-4px);
}

.button:active {
	filter: brightness(0.75);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 50%);
	transform: translateY(4px);

}

@media (width <=1000px) {
	.button {
		font-size: 2rem;
	}
}





/* ===== Score form ===== */
.score-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.score {
	display: grid;
	grid-template-columns: 1fr repeat(2, 40px);

	max-width: var(--val-form-max-width);

	align-items: center;
}

.score[data-no-buttons] {
	grid-template-columns: 1fr !important;
}

.score input[type="button"] {
	font-size: 1.5rem;
	font-weight: 700;
	/* height: 35px; */
}

input[type="number"],
#cod {
	width: 4rem;
}

input[type="checkbox"] {
	width: 1.1rem;
	height: 1rem;
}


input {
	border-radius: 6px;
	padding: 0.25rem;
	background-color: var(--col-button-bg);
	color: var(--col-text);
}




/* ===== Tasks ===== */
.panel {
	overflow: auto;
	border-radius: 16px;
	padding: 1rem;

	backdrop-filter: blur(5px);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

#current-task {
	min-height: 150px;
	max-height: 350px;
	max-width: var(--val-form-max-width);
}

@media (height <=800px) {
	#current-task {
		max-height: 200px;
	}
}





/* ===== Collapsible (thanks w3schools.com) ===== */
.collapsible {
	cursor: pointer;
	width: 100%;
	text-align: left;
	text-decoration: none;
}

.active,
.collapsible:hover {
	/* background-color: #ddd; */
	text-decoration: underline;
}

.collapsible:after {
	transform: translateY(5px) scaleX(85%);
	content: '\2572\2571';
	font-weight: bold;
	float: left;
	margin-right: 0.5rem;
	font-size: 0.5rem;
}

.active:after {
	content: "\257c\257c";
}

.content {
	padding: 0 1rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.75s cubic-bezier(0.16, 1, 0.3, 1);
}






/* ===== Navbar ====== */
.navbar {
	/* position: sticky; */
	top: 0px;
	height: fit-content;
	/* padding: 1rem; */
	width: 100%;
	margin-bottom: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar a {
	color: var(--col-text);
	text-decoration: none;
	font-family: var(--font-heading);
	font-size: var(--val-navbar-height);
	text-align: center;
}